@import "./variables";

.dash {
  display: flex;
  justify-content: space-between;
  .swipe-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .card-container {
      width: 400px;
      height: 650px;
      .swipe {
        position: absolute;
        top: 20px;
        background-color: #fff;
        .card {
          width: 400px;
          height: 650px;
          border-radius: 20px;
          background-size: cover;
          background-position: center;
          position: relative;
          
        }
        .info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h3 {
              font-size: 1.5rem;
              align-items: center;
            }
          }
      }
    }
  }
}
