@import "./variables";

.chat-container {
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 30%;
  text-align: left;
  z-index: 1;
  .chat-option-selector {
    display: flex;
    justify-content: space-around;
    .option {
      border: none;
      background-color: rgb(255, 255, 255);
      border-bottom: solid 4px $dark-pink;
      font-size: 20px;
      margin: 2px;
      padding: 10px;
      width: 40%;
      cursor: pointer;
      &:hover {
        border-bottom: solid 4px $dark-pink;
      }
    }
    .notActive {
      border-bottom: solid 4px $grey;
    }
  }
}
.img-container {
      height: 50px;
      width: 50px;
      border-radius: 25px;
      overflow: hidden;
      margin: 5px;
      img {
        width: 100%;
      }
    }

  .match-profile {
    display: flex;
    padding: 8px;
    align-items: center;
    .username {
      padding-left: 15px;
    }
  }

.header-container {
  background: linear-gradient(45deg, $light-pink, $light-green);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;


  .logout-icon {
    display: flex;
    align-items: center;
    padding: 20px;
    color: $dark-grey;
    font-size: 35px;
  }
}

.chat-display-container {
  padding: 20px;
  height: 69vh;
  overflow-y: auto;
}

.chat-input-container {
  display: flex;
  padding: 10px;
  height: 5vh;
  justify-content: space-between;
  align-items: center;
  .chat-input {
    flex: 1;
    height: 25px;
    resize: none;
    font-size: 18px;
    border-radius: 40px;
    padding: 12px 20px;
  }
  .chat-submit {
    margin: 10px;

    border-radius: 20px;
    height: 35px;
    cursor: pointer;
  }
}

.matches-container {
  cursor: pointer;
}


.chat-display-container {
  padding: 5px; 
  .chat-profile{
    display: flex;
    align-items: center;
  }
  .user-message {
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
  
}
