@import "./variables";

.overlay {
  width: 100vw;
  height: 100vh;
  // position: fixed;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: url("../images/background-image.webp");
  .home {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    .primary-title {
      font-size: 60px;
      color: $white;
    }
    .primary-button {
      color: $white;
      text-transform: uppercase;
      font-size: 20px;
      background: linear-gradient(45deg, $brand-pink, $brand-orange);
      padding: 12px 30px;
      margin-top: 80px;
      border-radius: 30px;
      border: none;
      cursor: pointer;
      &:hover {
        background: linear-gradient(260deg, $brand-pink, $brand-orange);
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .overlay {
  .home {
    .primary-title {
      font-size: 120px;
    }
  }
}
}
