@import "./variables";

.profile {
  border-top: solid 1px $grey;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    section {
      display: flex;
      flex-direction: column;
      padding: 20px;
      width: 70%;
      .photo-container {
        display: flex;
        justify-content: center;
        img {
          margin-top: 10px;
          width: 60%;
          object-fit: contain;
          height: 60%;
        }
      }
    }
    label {
      margin: 10px 0px;
    }
    
    input {
      padding: 15px 5px;
      margin: 10px 0;
      font-size: 15px;
      border: solid 2px $grey;
      border-radius: 10px;
      max-width: 400px;
      ::-webkit-inner-spin-button,
      ::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &[type="radio"] {
        display: none;
        & + label {
          cursor: pointer;
        }
        &:checked + label {
          background-color: $light-pink;
          border: solid 2px $light-pink;
        }
      }
    }
    .input-container {
      text-align: center;
      input {
        width: 90%
      }
    }

    .dob-input-container {
      display: flex;
      justify-content: center;
      input {
        margin-right: 5px;
      }
      .dobMonth, .dobDay {
      width: 50px
    }
    .dobYear {
      width: 300px
    }
    }
    
    .multiple-input-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      input {
        margin-right: 10px;
      }

      label {
        padding: 10px;
        border: solid 2px $grey;
        border-radius: 10px;
        transition: all 0.3s;
        margin-right: 10px;
      }
    }
    .submitButton {
      width: 60%;
      border-radius: 20px;
      cursor: pointer;
      height: 50px;
      padding: 10px 5px;
      margin-bottom: 10px;
      border: none;
      font-size: 1.2rem;
      font-weight: 700;
      &:hover {
        background-color: $light-pink;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .profile {
  form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    section {
      width: 35%;
      text-align: start;
      margin-bottom: 100px;
    }

    input {
      padding: 15px 30px;
    }
    .input-container {
      text-align: left;
    }
    .dob-input-container, .multiple-input-container {
      justify-content: left;
    }
    .submitButton {
     position: absolute;
     bottom: 20px;
    }
  }
}
  
}
